@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.text-shadow-custom {
  text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.2);
}

.footer-icon {
  @apply w-10 h-10 flex items-center justify-center rounded-full bg-gray-800 text-gray-300 hover:text-white hover:bg-[#D72638] transition-all duration-300;
}

.text-shadow-custom {
  text-shadow: 2px 2px 15px rgba(255, 255, 255, 0.3);
}
